Data/*
.Rproj.user/*
/Writing/*cache
Presentation/*_cache/*
Presentation/*_files/*
Codes/*_cache/*
Writing/*_cache/*
Writing/*/*docx
Writing/*/*pdf
Writing/cache/*
Writing/figure/*
Writing/idea/*
Writing/*cache/*
Writing/*files/*
Writing/*.pdf
Writing/*.png
Writing/*.docx
Writing/*/*.docx
.Rproj.user
.DS_Store
*/.Rapp.history