Data/*
.Rproj.user/*
Literature/*
Results/*
/Writing/*cache
/GitControlled/Presentation/*_cache/*
/GitControlled/Writing/*_cache/*
/GitControlled/Writing/cache/*
/GitControlled/Writing/figure/*
/GitControlled/Writing/idea/*
/GitControlled/Writing/JournalSubmission/*cache/*
/GitControlled/Writing/JournalSubmission/*files/*
/GitControlled/Writing/JournalSubmission/*.pdf
/GitControlled/Writing/JournalSubmission/*.docx
/GitControlled/Writing/*cache/*
/GitControlled/Writing/*_files/*
/GitControlled/Writing/*_cache/*
/CNN_Results/*
*.png
.Rproj.user
.DS_Store
*/.Rapp.history

/Shared/*
.Rhistory
CF_for_VRA.Rproj